body {
  font-family:Lucida Bright  ;
  background-color: #007a00;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Evita el desplazamiento horizontal */
}

/* Estilos específicos para Home */
.App-header {
  background-color: #228B22;
  color: #ffffff;
  text-align: center;
  padding: 40px 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  
}

h1 {
  margin-bottom: 10px;
  font-size: 36px;
}

p {
  font-size: 22px;
  margin-bottom: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 1%;
  max-width: 1000px;
  max-height: 1000px;
}

.container div {
  flex-basis: calc(50% - 20px);
  margin-bottom: 20px;
  padding: 20px;  
  background-color: #289228;
  box-shadow: 0 2px 40px rgba(0, 0, 0, 0.);
  border-radius: 20px;
}


.links {
  color: #000000;
}


img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

img:hover {
  transform: scale(1.05);
}
