/* Estilos globales */
body {
  font-family: 'Lucida Bright', sans-serif;
  background-color: #FFA07A;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Evita el desplazamiento horizontal */
}

/* Estilos específicos para Home */
.App-header {
  background-color: #FF8C00; /* Color anaranjado para el encabezado */
  color: #468c83; /* Color de texto más ecológico */
  text-align: center;
  padding: 20px;
}

h1 {
  margin-bottom: 10px;
}

p {
  font-size: 18px;
  margin-bottom: 20px;
}

.container {
  display: flex;
  justify-content: space-between;
}

.container div {
  flex-basis: 48%;
}

a {
  display: block;
  margin-bottom: 10px;
  text-decoration: none;
  color: #FF8C00; /* Color anaranjado para los enlaces */
  font-weight: bold;
  transition: color 0.3s ease-in-out; /* Agregado para una transición suave */
}

a:hover {
  color: #FFA500; /* Color de enlace más brillante al hacer hover */
}

img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilos para el formulario de registro */
.register-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  padding: 10px 20px;
  background-color: #FF8C00; /* Color anaranjado para el botón */
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #FFA500; /* Color de botón más brillante al hacer hover */
}
