/* Estilos globales */
body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Evita el desplazamiento horizontal */
}

/* Estilos específicos para Home */
.App-header {
  background-color: #282c34;
  color: white;
  text-align: center;
  padding: 20px;
}

h1 {
  margin-bottom: 10px;
}

p {
  font-size: 18px;
  margin-bottom: 20px;
}

.container {
  display: flex;
  justify-content: space-between;
}

.container div {
  flex-basis: 48%;
}

a {
  display: block;
  margin-bottom: 10px;
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
  transition: color 0.3s ease-in-out; /* Agregado para una transición suave */
}

a:hover {
  color: #0056b3;
}

img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  border-radius: 5px; /* Agregado un borde redondeado a las imágenes */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Agregado un sombreado sutil */
}

/* Estilos para el formulario de registro */
.register-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Agregado un sombreado al formulario */
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out; /* Agregado para una transición suave */
}

button:hover {
  background-color: #0056b3;
}
