body{
    font-family:Lucida Bright  ;
}
.solar-container {
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 20px;
}

.solar-header {
    background-color: #FFD700;
    color: black;
    padding: 20px;
}

.solar-content {
    max-width: 800px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 1.6;
}

.panelesImg {
    max-width: 90%;
}

.solar-image {
    max-width: 100%;
    margin-bottom: 20px;
}